.active {
  background-color : 005BEB;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0044AF;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  padding: 22px 25px;
  text-decoration: none;
}
li a:hover {
  background-color: #00339F;
  color: white;
}
.leftdiv
{
float: left;
padding : 1%;
color: 003100;
background-color : white;
width : 70%;
}
.rightdiv
{
float: right;
padding : 1%;
color: white;
background-color : white;
width : 20%;
background-image : url("static/spinohead.jpg")
}
.button1 {
  background-color: #006ad6;
  color: white;
 display : block;
 height : 60px;
  width : 175px;
  padding: 20px 20px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border : none;
}
.button1:hover {
  background-color: #0057af;
}
.button2 {
  background-color: #0087f1;
  color: white;
  height : 60px;
  width : 175px;
  padding: 20px 20px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border : none;
}
.button2:hover {
  background-color: #006ad6;
}
